html,
body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #2c3e50;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.cta-button {
    min-width: 200px;
    border: none;
    color: white;
    background-color: #10ac84;
    font-size: 1.2rem;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.cta-button:hover {
    background-color: #1dd1a1;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #636e72;
}

.nav__links {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    flex-basis: 100%;
}

.nav__links--active .nav__link {
    display: flex;
}

.nav__link {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 150px;
    color: white;
    text-decoration: none;
    flex-basis: 100%;
}

.nav__link-menu {
    display: flex;
}

.nav__link:hover {
    background-color: #34495e;
}

.nav__link--active {
    background-color: rgb(59, 76, 93);
}


@media (min-width: 768px) {
    .nav__links {
        flex-wrap: nowrap;
    }

    .nav__link {
        display: flex;
    }

    .nav__links--active .nav__link-menu,
    .nav__link-menu {
        display: none;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    /* margin-top: 50px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__header {
    font-size: 2rem;
}

.hero__sub-header {
    font-size: 1.5rem;
}

.hero__info {
    color: white;
    text-align: center;
}

.offer {
    display: flex;
    padding-top: 2rem;
    flex-wrap: nowrap;
}

.offer-item {
    flex-basis: 25%;
    padding: 1.5rem;
    text-align: center;
}

.offer-item__icon {
    font-size: 3rem;
    color: #10ac84;
}